---
import CommonPage from '@components/CommonPage.astro'

import { Button } from '@simplethings/react/button'
---

<CommonPage>
  <h1 class="st-hero">Hello</h1>
  <Button size={'sm'} intent="primary" type="submit">Click me</Button>
</CommonPage>
