---
import CommonPage from '@components/CommonPage.astro'

import { Button } from '@simplethings/react/button'
---

<CommonPage>
  <h1 class="hero">Hello</h1>
  <h1 class="lead">Hello</h1>
  <h1 class="body">
    Labore et non qui pariatur nulla minim reprehenderit veniam. Magna ipsum reprehenderit nisi est mollit duis ex
    laboris proident Lorem sint reprehenderit exercitation mollit velit. Qui dolore voluptate anim proident nulla
    consectetur sit ea anim ullamco aliqua cillum. Aliqua veniam irure est Lorem cupidatat adipisicing cupidatat ipsum
    cupidatat voluptate commodo sit et sunt exercitation. Proident excepteur dolor non.
  </h1>
  <Button type="submit">Click me</Button>
  <Button size={'sm'} variant="secondary" type="submit">Click me</Button>
  <Button size={'lg'} variant="soft" type="submit">Click me</Button>
  <Button size={'xl'} variant="solid" type="submit">Click me</Button>
</CommonPage>
