---
import type {
  FeatureCardProps,
  FeatureRowProps,
  FeatureRowReversedProps,
  HeroProps,
  SectionHeaderProps,
} from '@simplethings/react'
import { FeatureCard, FeatureRow, FeatureRowReversed, Hero, SectionHeader } from '@simplethings/react'

import Container from './Container.astro'

interface Props {
  content: {
    _type: string
    _key: string
    [key: string]: any
  }[]
}

const { content } = Astro.props
---

{
  content.map((item) => {
    const { _type, _key, ...rest } = item
    switch (item._type) {
      case 'sectionHeader':
        return (
          <Container>
            <SectionHeader {...(rest as SectionHeaderProps)} />
          </Container>
        )
      case 'hero':
        return <Hero {...(rest as HeroProps)} />
      case 'featureCard':
        return (
          <Container>
            <FeatureCard {...(rest as FeatureCardProps)} />
          </Container>
        )
      case 'featureRow':
        return (
          <Container>
            <FeatureRow {...(rest as FeatureRowProps)} />
          </Container>
        )
      case 'featureRowReverse':
        return (
          <Container>
            <FeatureRowReversed {...(rest as FeatureRowReversedProps)} />
          </Container>
        )
      default:
        return <div>No Component: {item._type}</div>
    }
  })
}
