---
import { SectionHeader } from '@simplethings/react'

interface Props {
  content: {
    _type: string
    _key: string
    [key: string]: any
  }[]
}

const { content } = Astro.props
---

{
  content.map((item) => {
    switch (item._type) {
      case 'sectionHeader':
        return <SectionHeader {...item} />
      default:
        return <div>No Component: {item._type}</div>
    }
  })
}
