---
import DemoContainer from '@components/demo/DemoContainer.astro'
import Swatch from '@components/demo/Swatch.astro'
---

<DemoContainer title="Swatches">
  <div class="flex flex-wrap gap-l">
    <Swatch name="Primary" color="bg-primary" />
    <Swatch name="Base" color="bg-base" />
    <Swatch name="BG" color="bg-bg" />
    <Swatch name="Alt" color="bg-alt" />
    <Swatch name="Accent" color="bg-accent" />
    <Swatch name="Accent Contrast" color="bg-accent-contrasted" />
    <Swatch name="Surface" color="bg-surface" />
    <Swatch name="Soft" color="bg-soft" />
    <Swatch name="Muted" color="bg-muted" />
    <Swatch name="Success" color="bg-success" />
    <Swatch name="Error" color="bg-error" />
    <Swatch name="Default" color="bg-default" />
    <Swatch name="Warning" color="bg-warning" />
  </div>
</DemoContainer>
