
.st-body {
  font-family: Satoshi Variable;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-hero {
  font-family: Satoshi Variable;
  font-size: 72px;
  line-height: 100%;
  letter-spacing: -1.440000057220459px;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-caption {
  font-family: Satoshi Variable;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-small {
  font-family: Satoshi Variable;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 400;
  text-decoration: none;
  text-transform: original;
}
    
.st-heading--bold {
  font-family: Satoshi Variable;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 700;
  text-decoration: none;
  text-transform: original;
}
    
.st-heading {
  font-family: Satoshi Variable;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-lead--tight {
  font-family: Satoshi Variable;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-lead {
  font-family: Satoshi Variable;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-title {
  font-family: Satoshi Variable;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.9599999785423279px;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-subtitle {
  font-family: Satoshi Variable;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-large {
  font-family: Satoshi Variable;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -0.18000000715255737px;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-input-small {
  font-family: Satoshi Variable;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-input {
  font-family: Satoshi Variable;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-label-small {
  font-family: Satoshi Variable;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    
.st-label {
  font-family: Satoshi Variable;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  font-weight: 500;
  text-decoration: none;
  text-transform: original;
}
    